
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$massimo-dutti-primary: mat-palette($mat-indigo);
$massimo-dutti-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$massimo-dutti-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$massimo-dutti-theme: mat-light-theme($massimo-dutti-primary, $massimo-dutti-accent, $massimo-dutti-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($massimo-dutti-theme);
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* You can add global styles to this file, and also import other style files */

// Colors
$grey-dark: #858585;
$black: #000000;
$login-button: #B99D6B;
$login-button-hover: #CEBA97;
$create-button-hover: #848686;

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.with-100 {
    width: 100%;
}

.responsive {
    padding: 0 10px 20px 0;
    float: left;
    width: 24.99999%;
}

div.desc {
    padding: 15px;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        padding-left: 10px;
        width: 100%;
    }
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.gallery {
    border: 1px solid #ccc;
}

button.btn-brown {
    background-color: $login-button;
    border: 0;
    &:hover {
        background-color: $login-button-hover;
    };
}

button.btn-black {
    background-color: $black;
    border: 0;
    &:hover {
        background-color: $create-button-hover;
    };
}
